* {
  box-sizing: border-box;
}

html {
  margin:    0 auto;
  max-width: 900px;
}

a:link {
  color: lightgray;
  text-decoration: none;
}

a:visited {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #fff;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  background: #444b5d;
}

#thread-content {
  padding: 1%;
  background: #282c37;
  max-width: 810px;
  text-align: center;
  border-radius: 8px;
}

h1 {
  font-size: 32px;
  color: #fff;
  margin: 0 0 10px;
}

.header {
  color: #fff;
  padding-bottom: 5px;
}
.header h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.header .date {
    font-size: smaller;  
}

.author {
  text-align: left;
}

.reply {
  text-align: right;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
  text-align: left;
  color: #fff;
}

.toot {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 15px;
  max-width: 600px;
  text-align: left;
  margin-bottom: 5px;
  color: #fff;
  background: #313543;
  position: relative;
}

.toot p {
  padding: 0pt;
  margin: 0pt;
}

.left {
  margin-left: 0px;
  margin-right: auto;
}

.right {
  margin-left: auto;
  margin-right: 0px;
}

.toot-link {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 80%;
  text-align: right;
  color: #fff;  
  padding: 0pt;
}

.preview {
  max-width: 24%;
}

.preview:hover {
  opacity: 0.5;
}

/* modal (background) */
.modal {
  display: none; /* set to block in js*/
  position: fixed;
  z-index: 1; /* always on top */
  left: 0;
  top: 0;
  width: 100%; /* full width */
  height: 100%; /* full height */
  overflow: auto; /* enable scroll if needed */
  background-color: rgb(0,0,0); /* fallback color */
  background-color: rgba(0,0,0,0.9); /* black w/ opacity */
}

/* modal content (image) */
.modal-content {
  margin: auto;
  display: block;
  padding: 40px;
  max-width: 100vw;
  max-height: 100vh;
  transition: all 0.2s linear;
}

/* model (close button) */
.close {
  position: absolute;
  top: 25px;
  right: 45px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
