html, body {
    width: 120px;
}

.hidden {
  display: none;
}

button {
  border: none;
  border-radius: 8px;
  width: 100%;
  margin: 3% auto;
  transition: all 0.3s ease;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #c0c0ff;
  color: #000000;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

button:hover {
  background-color: #2e2eeb;
  color: #ffffff;
}

#status {
  color: #ff0000
}